
/node_modules


/dist
/tmp
/out-tsc
/bazel-out


/.angular/cache


.idea/
*.swp
*.swo
*~


.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


/coverage
/libpeerconnection.log
testem.log


.env
.env.local
.env.*.local


*.tsbuildinfo
